<nav class="bottom-nav">

  <a href="/dashboard" class="bottom-nav__item">
    <i data-lucide="home" class="nav-icon"></i>
    <span>Inicio</span>
  </a>

  <a href="/garments" class="bottom-nav__item">
    <i data-lucide="shirt" class="nav-icon"></i>
    <span>Guardarropa</span>
  </a>

  <a href="/settings" class="bottom-nav__item">
    <i data-lucide="settings" class="nav-icon"></i>
    <span>Ajustes</span>
  </a>

</nav>

<script src="https://unpkg.com/lucide@latest"></script>
<script>lucide.createIcons()</script>
